* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: #ef742b;
  font-weight: 700;
  text-decoration: none;
}

section, .wrapper {
  width: 80%;
  margin: auto;
  padding: 30px;
}

header, footer {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

header img, .social-icons li {
  padding: 20px 10px;
}

h1, .emphasizes,  aside h3, .fa {
  color: #ef742b;
}

header {
  border-top: 10px solid #ef742b;
}

.social-icons {
  display: flex;
}

.separator-image {
  width: 100%;
  height: 130px;
  background: url(/img/separator-image.jpg) center;
  background-size: auto 555px;
}

.wrapper {
  display: flex;
}

section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "h1 img" "h2 img" "p p" "emphasizes emphasizes";
}
 
.ebook {
  grid-area: img;
  width: 100%;
  margin-top: -80px;
}

h1 {
  grid-area: h1;
  font-size:25px;
  margin-bottom: 20px;
}

h2 {
  grid-area: h2;
  align-self: flex-end;
  padding: 20px 0;
  font-size: 17px;
  border-top: 1px solid rgb(231, 231, 231);
  color:  #a8a8a8;
}

p {
  grid-area: p;
  font-size: 12px;
}

.emphasizes {
  grid-area: emphasizes;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}


aside {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 50%;
  margin-left: 20px;
  padding: 10px 30px;
  background-color: #ececec;
  border: 1px solid #dddddd;
}

aside h3 {
  text-align: center;
  font-size: 13px;
  padding: 20px;
  text-transform: uppercase;
}

fieldset {
  border: none;
}

.fieldset-inputs {
  text-align: center;
}

.fieldset-inputs > input, button {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
}

.fieldset-inputs > input {
  border: 1px solid #c9c9c9;
  outline: none;
}

.checkbox {
  width: 85%;
  margin: 10px 20px;
  line-height: 25px;
  font-size: 11px;
}

button {
  margin: 10px;
  text-align: center;
  background-color: #ef742b;
  color: white;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

footer {
  background-color: #4f4f51;
}

footer a, small {
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
}

.footer-frame {
  width: 70%;
  padding: 30px;
  color:  #ffffff;
}

.footer-frame, .right, .nav-footer {
  display: flex;
  justify-content: space-between;
}

.nav-footer li {
  border-left: 1px solid  #8f8f91;
  padding-left: 15px;
  margin-left: 15px;
}

small {
  padding: 5px 0;
}


.left > .logotype {
  width: 100%;
  height: auto;
}


.popup {
 width: 100vw;
 height: 100vh;
 background: rgba(0, 0, 0,.5);
 position: fixed;
 top: 0px;
 left: 0px;
 z-index: 2000;
 display: none;
 justify-content: center;
 align-items: center;
}

.show.popup {
  display: flex;
}

.caption {
  background-color: #ffff;
  width: 60%;
  min-width: 300px;
  padding: 40px;
  border: 8px solid #988b7a;
  box-shadow: 0 0 0 8px #fff;
  position: relative;
}

@keyframes caption {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.show .caption {
  animation: caption .3s;
}

.fa-times{
  position: absolute;
  font-size: 1.2em;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid white;
  background: #988b7a;
  color: white;
  font-family: ;
  cursor: pointer;
  box-shadow: 0 4px 0 rgba(0, 0, 0,.3);
  text-align: center;
}

@media (max-width: 600px) {
  header img {
    width: 45%;
  }

  .wrapper {
    flex-direction: column;
    width: 100%;
  }

  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "h1" "h2" "p" "emphasizes";
    margin: center;
  }

  .ebook {
    width: 200px;
    height: 0;
    margin-top: 0;
  }

  h1, h2, p, .emphasizes {
    text-align: left;
    width: 250px;
    margin: auto;
  }

  aside {
    width: 100%;
  }
}